<h5> <%= "Hey there, #{@user.username}" %> </h5>
<p> You've request to reset your password, click the URL below to reset it! </p>

<p>
  <%= link_to "Click here to reset your password", @url, class: 'white shadowed sign-in-link' %>
</p>
<p> Or copy this URL to your browser: <%= @url %> </p>

<p> Regards, </p>
<p> IG Fund Attendance Team </p>
