#header {
  height: 52px;
  z-index: 1;
}
.btn-inverse{
  background-color: #4c5667 !important;
    border: 1px solid #4c5667 !important;
    color: #ffffff;
}
.navbar {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    border: none;
    margin-bottom: 0px;
}

.nav-li {
    color: #36404a !important;
    line-height: 60px;
    padding: 0px 15px;
    position: relative;
}
