@import "bootstrap-sprockets";
@import "bootstrap";

.background {
  background-image: asset-url("success.jpg");
  height: calc(100vh - 52px);
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
  justify-content: center;
}

.feature {
  flex: 0 0 280px;
  margin: 20px 10px;
  &:hover .invisible-layout {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
}

.invisible-layout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .content-hover {
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: yellow;
    opacity: 0.1;
  }

  .content-hover-alignment{
    margin: 60px auto;
  }

div#banner {
  position:absolute;
  top:38%;
  width:100%;
  background-color: rgba(179, 179, 179, 0.8);
}
