<div class="background">
    <div id="banner" class="text-center">
      <h1> Welcome to Leadership Program </h1>
      <section class="features">
        <div class="feature text-center">
          <div class="invisible-layout content-hover">
            <div class="content-hover-alignment">
              <h3><%= fa_icon 'sign-in 4x' %> <h5> Sign attendance </h5></h3>
            </div>
            </div>
        </div>
        <!-- <div class="feature text-center">
          <%= fa_icon 'bar-chart 4x' %> <h5> Check progress </h5>
        </div> -->
      </section>
  </div>
</div>
