<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <!--- Divider -->
    <div id="sidebar-menu">
      <ul>


        <li>
          <a href="/" class="waves-effect subdrop">
            <i class="fa fa-home"></i> <span> Home </span>
          </a>
        </li>
        <li>
          <a href="profile.php" class="waves-effect ">
            <i class="fa fa-user"></i> <span> Profile </span>
          </a>
        </li>
        <li>
          <a href="rebates.php" class="waves-effect ">
            <i class="fa fa-gift"></i> <span> Rewards </span>
          </a>
        </li>
        <li>
          <a href="provide_help.php" class="waves-effect ">
            <i class="fa fa-upload"></i> <span> Provide Help </span>
          </a>
        </li>
        <li>
          <a href="get_help.php" class="waves-effect ">
            <i class="fa fa-download"></i> <span> Get Help </span>
          </a>
        </li>
        <li>
          <a href="history_cwallet.php" class="waves-effect ">
            <i class="fa fa-shopping-bag"></i> <span> Cash Wallet </span>
          </a>
        </li>
        <li>
          <a href="cwallet-transfer.php" class="waves-effect ">
            <i class="fa fa-home"></i> <span> Cash Wallet Transfer </span>
          </a>
        </li>
        <li>
          <a href="history_ewallet.php" class="waves-effect ">
            <i class="fa fa-shopping-bag"></i> <span> ROI Wallet </span>
          </a>
        </li>
        <li>
          <a href="history_rpoint.php" class="waves-effect ">
            <i class="fa fa-shopping-bag"></i> <span> Withdrawal Wallet </span>
          </a>
        </li>
        <li>
          <a href="history_epoint.php" class="waves-effect ">
            <i class="fa fa-shopping-bag"></i> <span> Activation Pin </span>
          </a>
        </li>
        <li>
          <a href="wallet-transfer.php" class="waves-effect ">
            <i class="fa fa-home"></i> <span> Activation Pin Transfer </span>
          </a>
        </li>
        <li>
          <a href="withdrawal.php" class="waves-effect ">
            <i class="fa fa-home"></i> <span> Cash Out </span>
          </a>
        </li>


        <li>
          <a href="register.php" class="waves-effect ">
            <i class="fa fa-plus"></i> <span> Registration </span>
          </a>
        </li>



        <li>
          <a href="genealogy.php" class="waves-effect ">
            <i class="fa fa-newspaper-o"></i> <span> Client List </span>
          </a>
        </li>
        <li>
          <a href="downline.php" class="waves-effect ">
            <i class="fa fa-newspaper-o"></i> <span> Downline Transaction </span>
          </a>
        </li>
        <li>
          <a href="messaging.php" class="waves-effect ">
            <i class="fa fa-envelope-o"></i> <span> Support </span>
          </a>
        </li>
        <li>
          <a href="news_list.php" class="waves-effect ">
            <i class="fa fa-bullhorn"></i> <span> Announcement </span>
          </a>
        </li>
        <li>
          <a href="logout.php" class="waves-effect ">
            <i class="fa fa-power-off"></i> <span> Logout </span>
          </a>
        </li>

        <br>
        <br>


      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
